<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RockPaperScissors</title>
    <link rel="stylesheet" href="../Content/styles.css">
  </head>
  <body>
    <h1>Rock Paper or Sciccors</h1>
    <form action="/outcome" method="post">
      <h3>Player 1 Choice</h3>
      <select name="inputPlayer1">
        <option value="1">Rock</option>
        <option value="2">Paper</option>
        <option value="3">Scissors</option>
      </select>
      <h3>Computer Choice ?</h3>
      <button type="submit">Who Wins!</button>
    </form>
  </body>
</html>
